/* Imported the Cantata One from Google Fonts (as it didn't showed up before (looks like it was not enough with just adding "font-family") and added a new font "Cormorant Garamond" that's more suitable for reading longer pieces of text*/
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Cantata One", serif;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* Fixes Google Fonts loading */
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

h1 {
  font-family: "Cantata One", serif;
  font-weight: 400;
  font-style: normal;
}

h2 a {
  font-size: 25px;
  align-items: center;
  font-family: "Cantata One", serif;
  color: #16a085;
  text-decoration: none;
  /* Removes underline to not make it look like plain html*/
}

h2 a:hover {
  color: #12836c;
  /* Slightly darker shade for hover effect */
}

img {
  float: center;
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
  display: block;
  border-radius: 8px;
}

/* Lists */
ul {
  list-style-type: none;
  /* Removes default bullets */
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}